@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   
</div>

<div class="list-group">
    <a href="@Url.Action("Index", "Estudios")" class="list-group-item list-group-item-action">
        Gestionar Estudios
    </a>
    <a href="@Url.Action("Index", "Personas")" class="list-group-item list-group-item-action">
        Gestionar Personas
    </a>
    <a href="@Url.Action("Index", "Profesions")" class="list-group-item list-group-item-action">
        Gestionar Profesiones
    </a>
    <a href="@Url.Action("Index", "Telefonoes")" class="list-group-item list-group-item-action">
        Gestionar Teléfonos
    </a>
</div>

